.wd-img[data-v-f12a2f94]{position:relative;display:inline-block}.wd-img__image[data-v-f12a2f94]{display:block;width:100%;height:100%;box-sizing:border-box}.wd-img.is-round[data-v-f12a2f94]{overflow:hidden;border-radius:50%}
